# Ignorar o ambiente virtual do Python
venv/
.env

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar modelos grandes do Vosk
model/

# Ignorar logs e arquivos temporários
logs/
*.log
*.tmp

# Ignorar configurações do sistema operacional
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignorar configurações do editor
.vscode/
.idea/
